{% extends 'Manager/OfferRequest/offer_request_base.html' %}
{% load i18n %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block action-area %}
{% endblock %}


{% block content %}
    {% if not qs %}
        {% trans 'No offer requests' %}
    {% else %}
    <div class="table-responsive">
    <table class="table med-table-summary table-caption" id="id_table">
        <thead>
            <tr>
                <th onclick="sortTableBy(document.getElementById('id_table'), 0)">{% trans 'Offer' %}</th>
                <th onclick="sortTableBy(document.getElementById('id_table'), 1)">{% trans 'User' %}</th>
                <th onclick="sortTableBy(document.getElementById('id_table'), 2)">{% trans 'State' %}</th>
                <th onclick="sortTableBy(document.getElementById('id_table'), 3)">{% trans 'Archived' %}</th>
                <th>{% trans 'Actions' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in qs %}
                <tr>
                    <td><a href="{% url 'offer-details' 'pick_up' item.offer.id %}">{{ item.offer|default:"-" }}</a></td>
                    <td><a href="{% url 'user-details' item.user.id %}">{{ item.user|default:"-" }}</a>></td>
                    <td>{{ item.state|default:"-" }}</td>
                    <td>
                        {% if not item.archived %}
                        {% trans 'Not archived' %}
                        {% else %}
                        {% trans 'Archived' %}
                        {% endif %}
                    </td>
                    <td>{% include 'Manager/OfferRequest/offer_request_table_action_field.html' with item=item %}</td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
    </div>
    {% endif %}
{% endblock %}