{% extends 'Manager/Manager/manager_base.html' %}
{% load i18n %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block action-area %}
  <a href="{% url 'manager-add' %}" type="button" class="btn btn-w-m btn-primary">{% trans 'Add' %}</a>
{% endblock %}


{% block content %}
    {% if not qs %}
        {% trans 'No managers' %}
    {% else %}
    <div class="table-responsive">
    <table class="table med-table-summary table-caption" id="id_table">
        <thead>
            <tr>
                <th onclick="sortTableBy(document.getElementById('id_table'), 0)">{% trans 'First name' %}</th>
                <th onclick="sortTableBy(document.getElementById('id_table'), 1)">{% trans 'Last name' %}</th>
                <th onclick="sortTableBy(document.getElementById('id_table'), 2)">{% trans 'Email' %}</th>
                <th>{% trans 'Actions' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in qs %}
                <tr>
                    <td>{{ item.first_name }}</td>
                    <td>{{ item.last_name }}</td>
                    <td>{{ item.email }}</td>
                    <td>{% include 'Manager/Manager/manager_table_action_field.html' with item=item %}</td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
    </div>
    {% endif %}
{% endblock %}