{% extends 'Public/base_template.html' %}
{% load static i18n hosts %}

{% block content %}
    <h1>{% trans 'Account' %}</h1>
    <p>{% trans 'Username' %} - {{ user.username|default:"-" }}</p><br>
    <p>{% trans 'Email' %} - {{ user.email|default:"-" }}</p><br>

    {% if not viewed_offers %}
        {% trans 'No viewed offers' %}
    {% else %}
        <div class="panel-body">
        <div class="table-responsive">
            <table class="table med-table-summary table-caption">
                <thead>
                <tr>
                    <th>{% trans 'Offer' %}</th>
                    <th>{% trans 'Remove' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in viewed_offers %}
                    <tr>
                        <td>
                            <a type="button" href="{% url 'offer-view' item.offer.id %}?reverse=
    {{ request.path }}{% if request.GET.urlencode %}&{{ request.GET.urlencode }}{% endif %}">
                                {{ item.offer|default:'-' }}
                            </a></td>
                        <td>
                            <a type="button" href="{% url 'account-remove-from-viewed' item.id %}?reverse=
    {{ request.path }}{% if request.GET.urlencode %}&{{ request.GET.urlencode }}{% endif %}">
                                {% trans 'Remove' %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        </div>
    {% endif %}
    <h1>{% trans 'Closed of denied offers' %}</h1>
    {% if not closed_offers %}
        {% trans 'No closed offers' %}
    {% else %}
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table med-table-summary table-caption">
                    <thead>
                    <tr>
                        <th>{% trans 'Offer' %}</th>
                        <th>{% trans 'State' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in closed_offers %}
                        <tr>
                            <td>
                                {{ item.offer|default:'-' }}
                            <td>
                                {{ item.offer.get_state_display|default:'-' }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    {% endif %}
{% endblock %}