{% extends 'Manager/Offer/PickUp/offer_base.html' %}
{% load i18n %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumb-item active">
        <strong>{{ offer.id }}</strong>
    </li>
{% endblock %}

{% block action-area %}
    <a type="button" class="btn btn-w-m btn-primary" href="{% url 'offer-edit' 'pick_up' offer.id %}?reverse=
        {{ request.path }}{% if request.GET.urlencode %}&{{ request.GET.urlencode }}{% endif %}">
        {% trans 'Edit' %}
    </a>
    <a type="button" class="btn btn-w-m btn-primary" href="{% url 'offer-add-file' 'pick_up' offer.id %}?reverse=
        {{ request.path }}{% if request.GET.urlencode %}&{{ request.GET.urlencode }}{% endif %}">
        {% trans 'Add file' %}
    </a>
{% endblock %}


{% block content %}
    <div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-8">
                <div class="row form-group">
                    <div class="col-sm-5">{% trans 'Creator' %}</div>
                    <div class="col-sm-7">{{ offer.creator|default:"-" }}</div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-5">{% trans 'Manager' %}</div>
                    <div class="col-sm-7">{{ offer.manager|default:"-" }}</div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-5">{% trans 'Clients' %}</div>
                    <div class="col-sm-7">{{ offer.clients.all|default:"-"|join:", " }}</div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-5">{% trans 'Address' %}</div>
                    <div class="col-sm-7">{{ offer.address|default:"-" }}</div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-5">{% trans 'State' %}</div>
                    <div class="col-sm-7">{{ offer.state|default:"-" }}</div>
                </div>
            </div>
        </div>
    </div>
    {% with deal.dealfile_set.all as file_sq %}
    {% if not file_sq %}
        {% trans 'No file offers' %}
    {% else %}
        <div class="panel-body">
        <div class="table-responsive">
            <table class="table med-table-summary table-caption">
                <thead>
                <tr>
                    <th>{% trans 'File' %}</th>
                    <th>{% trans 'File type' %}</th>
                    <th>{% trans 'Actions' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in file_sq %}
                    <tr>
                        {% if item.file %}
                        <td>{{ item.file|default:'-' }}</td>
                        {% elif item.image %}
                        <td>{{ item.image|default:'-' }}</td>
                        {% else %}
                        <td>{% trans 'Load file error' %}</td>
                        {% endif %}
                        <td>{{ item.file_type|default:'-' }}</td>
                        <td>{% include 'Manager/Offer/PickUp/Files/offer_files_table_action_field.html' with item=item %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    {% endif %}
    {% endwith %}
    </div>
    <div class="panel-body">
    </div>
</div>

{% endblock %}