{% extends 'Manager/Offer/Closed/offer_base.html' %}
{% load i18n %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block action-area %}
    <a href="{% url 'offer-export' 'closed' 'csv' %}" type="button" class="btn btn-w-m btn-primary">{% trans 'Export to cvs' %}</a>
{% endblock %}


{% block content %}
    <div class="table-responsive">
    {% if not qs %}
        {% trans 'No closed offers' %}
    {% else %}
    <table class="table med-table-summary table-caption" id="id_table">
        <thead>
            <tr>
                <th onclick="sortTableBy(document.getElementById('id_table'), 0)">{% trans 'Creator' %}</th>
                <th onclick="sortTableBy(document.getElementById('id_table'), 1)">{% trans 'Manager' %}</th>
                <th onclick="sortTableBy(document.getElementById('id_table'), 2)">{% trans 'Client' %}</th>
                <th onclick="sortTableBy(document.getElementById('id_table'), 3)">{% trans 'Price' %}</th>
                <th onclick="sortTableBy(document.getElementById('id_table'), 4)">{% trans 'Address' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in qs %}
                <tr>
                    <td>{{ item.creator|default:'-' }}</td>
                    <td>{{ item.manager|default:'-' }}</td>
                    <td>{{ item.clients.all|default:'-'|join:', ' }}</td>
                    <td>{{ item.price|default:'-' }}</td>
                    <td>{{ item.address|default:'-' }}</td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
    {% endif %}
    </div>
{% endblock %}