{% load i18n %}
{% if not item.archived %}
<a type="button" href="{% url 'offer-archive' 'deny' item.id %}?reverse=
    {{ request.path }}{% if request.GET.urlencode %}&{{ request.GET.urlencode }}{% endif %}">
    {% trans 'Archive' %}
</a>
{% else %}
    <a type="button" href="{% url 'offer-restore' 'deny' item.id %}?reverse=
    {{ request.path }}{% if request.GET.urlencode %}&{{ request.GET.urlencode }}{% endif %}">
    {% trans 'Restory' %}
</a>
{% endif %}
<a type="button" href="{% url 'offer-pick-up-denied' 'deny' item.id %}">
    {% trans 'Pick up' %}
</a>
